hr.mb0 {
  margin-bottom: 0px; }

#container {
  width: 800px;
  margin: 0px auto; }

.blancobg {
  background-color: #FFF; }

.border-gris-1 {
  border: 1px #b8b8b8 solid; }

.border-gris-3 {
  border: 3px #b8b8b8 solid; }

.grisbg {
  background-color: #f1f2f1; }

.mb0 {
  margin-bottom: 0px; }

.mar-5 {
  margin: 5px; }

.mar-10 {
  margin: 10px; }

.main {
  clear: both; }
  .main .title {
    color: #e33f48;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: -3px;
    margin-left: -2px; }
    .main .title a {
      color: #e33f48;
      text-decoration: none; }
      .main .title a:hover {
        color: #e0242d; }

#map {
  width: 570px;
  height: 320px;
  border: 3px solid #b7b7b7; }

#history {
  width: 560px;
  border: 3px solid #b7b7b7;
  padding: 5px; }

.history {
  margin-bottom: 5px; }

.negrita {
  font-weight: bold; }

.pad-5 {
  padding: 5px; }

.pad-10 {
  padding: 10px; }

.text-14 {
  font-size: 14px; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.title {
  color: #e33f48;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: -11px;
  margin-left: -2px; }

.title-little {
  color: #555;
  font-weight: bolder; }

.title-medium {
  color: #555;
  font-weight: bolder;
  font-size: 14px;
  margin-bottom: 5px; }

.form .box, #index_lines .box, #stops .box {
  background-color: #FFF;
  border: 3px solid #AAA; }
.form label, #index_lines label, #stops label {
  font-size: 14px; }

.bubble {
  width: 250px;
  overflow: auto; }

.bubble_content {
  padding: 5px;
  margin-top: 5px; }

.bubble_stop_options {
  float: right;
  width: 100px;
  padding: 5px; }
  .bubble_stop_options span {
    margin-left: 5px; }
  .bubble_stop_options img {
    width: 15px; }

input {
  margin-bottom: 5px; }

form .field {
  margin-bottom: 15px;
  margin-left: 10px; }

#minutes {
  margin-left: 40px;
  font-size: 15px;
  margin-top: 5px; }

#footer {
  margin-top: 15px;
  text-align: center;
  font-size: 11px;
  letter-spacing: 2px; }

#side-column hr {
  margin-bottom: 0; }


.formError {
  color: red;
  font-size: 12px;
  margin: 0;
  padding: 0; }

.error_field {
  border: 1px solid #BB0000; }
